<launch>
    <node name="control_node" pkg="control_node" type="control_node.py" output="screen" />
    <group ns="mission_node">
        <node name="normal_mission_node" pkg="mission_node" type="normal_mission_node.py" output="screen" />
    </group>
    <node name="driving_node" pkg="driving_node" type="driving_node.py" />
</launch>
